    
<app-nav></app-nav>
    <header class="interfaz" [style.backgroundImage]="'url(' + carouselItems[currentIndex].imagen + ')'">
          <div class="carousel-content" [class.fade]="fade">
                <h1>{{ carouselItems[currentIndex].titulo }}</h1>
                <button
                class="carousel-button"
                [routerLink]="carouselItems[currentIndex].direccion">
                {{ carouselItems[currentIndex].boton }}
                </button>
            </div>

        <div class="carousel-controls">
            <button (click)="prevImage()">&#10094;</button>
            <button (click)="nextImage()">&#10095;</button>
        </div>



    </header>
    
    <div class="container">
    <div class="title">Módulos y Servicios</div>
    <div class="modules">
        
        <a routerLink="subir-reporte" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-camera"></i>
                </div>
                <div class="text">Foto Multas</div>
            </div>
        </a>

        <a routerLink="multas.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-file"></i>
                </div>
                <div class="text">Multas</div>
            </div>
        </a>

        <a routerLink="pico-y-placa.html" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <i class="bx bx-car"></i>
                </div>
                <div class="text">Consulta del <br>Pico y Placa</div>
            </div>
        </a>

        <a routerLink="/parking" class="module-link">
            <div class="module">
                <div class="icon">
                    <div class="layer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <span class="bx" style="font-size: 24px; font-weight: bold;">PAR</span>
                </div>
                <div class="text">Localización de <br> Parqueaderos</div>
            </div>
        </a>
    </div>
</div>
